@media screen and (max-width:480px) {
    .container {
        max-width: 95%;
    }
    body {
        overflow-x: hidden;
    }
    .navigation .toggle-btn .toggles {
        margin-top: 0;
    }
    #slider1 .carousel-inner .carousel-item {
        height: auto;
    }
    .carousel-hot-news .thought-of-the-day {
        position: static;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg {
        background-color: transparent;
        line-height: 7px;
    }
    .carousel-hot-news .thought-of-the-day .heads {
        text-align: center;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg marquee {
        background-color: var(--color1);
    }
    section.three-box {
        padding: 30px 0;
    }
    .three-box .container .row .col-xl-4:not(:last-child) {
        margin-bottom: 20px;
    }
    section.about-form-infra {
        margin-top: 25px;
    }
    .headings01 h6 {
        font-size: 2rem;
    }
    .admission-form {
        margin-top: 20px;
    }
    .admission-form .form-inputs {
        padding: 15px 10px;
    }
    .admission-form .form-headers .form-headers-container {
        padding: 25px 20px;
    }
    .admission-form .image-capacha {
        text-align: center;
        margin-top: 15px;
    }
    section.gallery {
        margin-top: 30px;
    }
    .message-row-container .message-image {
        width: 250px;
        height: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .message-row-container .headings01 h6 {
        text-align: center;
    }
    .message-row-container .message-text .quotes {
        text-align: center;
    }
    .message-row-container .message-text .quotes span {
        font-weight: 300;
    }
    .message-row-container .message-text {
        padding: 0 15px;
    }
    .message-row-container .message-text .name {
        text-align: center;
    }
    .notice-box .icon {
        padding: 10px;
    }
    .notice-box .card-body {
        text-align: center;
        padding: .7rem .7rem;
    }
    #noticeboard,
    #noticeboard .notice-container {
        height: 479px;
    }
    .padding-left-calendar {
        margin-top: 25px;
    }
    section.banner-design {
        height: 150px;
    }
    section.about-content .about-content-container {
        padding: 30px 0;
    }
    .right-thumbnail {
        float: none;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .affiliation-text {
        padding: 0;
        font-size: 20px;
        line-height: 30px;
    }
    .vission-mission-wrapper .vision-mission-box {
        display: -webkit-grid;
        /* Safari */
        display: grid;
        /* Standard syntax */
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-thumbnail {
        padding-top: 0;
        display: block;
        -webkit-order: 1;
        /* Safari 6.1+ */
        order: 1;
    }
    .vision-mission-box .vision-mission-thumbnail .position-thumb {
        width: 100%;
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-content {
        display: block;
        padding-left: 0;
        -webkit-order: 2;
        /* Safari 6.1+ */
        order: 2;
        padding-top: 10px;
    }
    .vission-mission-wrapper .vision-mission-box:nth-child(1) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(3) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(5) .vision-mission-content {
        padding-left: 0;
    }
    .vision-mission-box p {
        font-size: 17px;
    }
    .headings01 h6 {
        text-align: center;
        /* font-size:1.5rem; */
    }
    .headings01 h6 span.next-line-text {
        display: block;
        font-size: 1.4rem;
        margin-top: 7px;
    }
    .msg-right-thumbnail {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .contact-form-design.admission-enquiry {
        padding-right: 15px;
    }
    .capatcha-image {
        margin-top: 0;
        text-align: center;
    }
    .contact-form-design .submit-btn {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:481px) and (max-width:576px) {
    .right-side-navigation .side-navigation-white-box .toggle-close {
        right: 60px;
    }
    .carousel-hot-news .thought-of-the-day .heads {
        text-align: center;
    }
    .container {
        max-width: 90%;
    }
    body {
        overflow-x: hidden;
    }
    .navigation .toggle-btn .toggles {
        margin-top: 0;
    }
    #slider1 .carousel-inner .carousel-item {
        height: auto;
    }
    .carousel-hot-news .thought-of-the-day {
        position: static;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg {
        background-color: transparent;
        line-height: 7px;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg marquee {
        background-color: var(--color1);
    }
    section.three-box {
        padding: 30px 0;
    }
    .three-box .container .row .col-xl-4:not(:last-child) {
        margin-bottom: 20px;
    }
    section.about-form-infra {
        margin-top: 25px;
    }
    .headings01 h6 {
        font-size: 2rem;
    }
    .admission-form {
        margin-top: 20px;
    }
    .admission-form .form-inputs {
        padding: 15px 10px;
    }
    .admission-form .form-headers .form-headers-container {
        padding: 25px 20px;
    }
    .admission-form .image-capacha {
        text-align: center;
        margin-top: 15px;
    }
    section.gallery {
        margin-top: 30px;
    }
    .message-row-container .message-image {
        width: 250px;
        height: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .message-row-container .headings01 h6 {
        text-align: center;
    }
    .message-row-container .message-text .quotes {
        text-align: center;
    }
    .message-row-container .message-text .quotes span {
        font-weight: 300;
    }
    .message-row-container .message-text {
        padding: 0 15px;
    }
    .message-row-container .message-text .name {
        text-align: center;
    }
    .notice-box .icon {
        padding: 10px;
    }
    .notice-box .card-body {
        text-align: center;
        padding: .7rem .7rem;
    }
    #noticeboard,
    #noticeboard .notice-container {
        height: 578px;
    }
    .padding-left-calendar {
        margin-top: 25px;
    }
    section.banner-design {
        height: 150px;
    }
    section.about-content .about-content-container {
        padding: 30px 0;
    }
    .right-thumbnail {
        float: none;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .affiliation-text {
        padding: 0;
        font-size: 20px;
        line-height: 30px;
    }
    .vission-mission-wrapper .vision-mission-box {
        display: -webkit-grid;
        /* Safari */
        display: grid;
        /* Standard syntax */
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-thumbnail {
        padding-top: 0;
        display: block;
        -webkit-order: 1;
        /* Safari 6.1+ */
        order: 1;
    }
    .vision-mission-box .vision-mission-thumbnail .position-thumb {
        width: 100%;
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-content {
        display: block;
        padding-left: 0;
        -webkit-order: 2;
        /* Safari 6.1+ */
        order: 2;
        padding-top: 10px;
    }
    .vission-mission-wrapper .vision-mission-box:nth-child(1) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(3) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(5) .vision-mission-content {
        padding-left: 0;
    }
    .vision-mission-box p {
        font-size: 17px;
    }
    .headings01 h6 {
        text-align: center;
        /* font-size:1.5rem; */
    }
    .headings01 h6 span.next-line-text {
        display: block;
        font-size: 1.4rem;
        margin-top: 7px;
    }
    .msg-right-thumbnail {
        width: 80%;
        margin-left: 10%;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .contact-form-design.admission-enquiry {
        padding-right: 15px;
    }
    .capatcha-image {
        margin-top: 0;
        text-align: center;
    }
    .contact-form-design .submit-btn {
        margin-bottom: 15px;
    }
    .footer-social-media {
        display: table;
        margin: auto;
    }
    .footer .footer-address-area .footer-social-media a {
        margin: 0 5px;
    }
}

@media screen and (min-width:577px) and (max-width:767px) {
    .right-side-navigation .side-navigation-white-box .toggle-close {
        right: 60px;
    }
    .carousel-hot-news .thought-of-the-day .heads {
        text-align: center;
    }
    .container {
        max-width: 90%;
    }
    body {
        overflow-x: hidden;
    }
    .navigation .toggle-btn .toggles {
        margin-top: 0;
    }
    #slider1 .carousel-inner .carousel-item {
        height: auto;
    }
    .carousel-hot-news .thought-of-the-day {
        position: static;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg {
        background-color: transparent;
        line-height: 7px;
    }
    .carousel-hot-news .thought-of-the-day .desc-bg marquee {
        background-color: var(--color1);
    }
    section.three-box {
        padding: 30px 0;
    }
    .three-box .container .row .col-xl-4:not(:last-child) {
        margin-bottom: 20px;
    }
    section.about-form-infra {
        margin-top: 25px;
    }
    .headings01 h6 {
        font-size: 2rem;
    }
    .admission-form {
        margin-top: 20px;
    }
    .admission-form .form-inputs {
        padding: 15px 10px;
    }
    .admission-form .form-headers .form-headers-container {
        padding: 25px 20px;
    }
    .admission-form .image-capacha {
        text-align: center;
        margin-top: 15px;
    }
    section.gallery {
        margin-top: 30px;
    }
    .message-row-container .message-image {
        width: 250px;
        height: 250px;
        margin: auto;
        margin-bottom: 20px;
    }
    .message-row-container .headings01 h6 {
        text-align: center;
    }
    .message-row-container .message-text .quotes {
        text-align: center;
    }
    .message-row-container .message-text .quotes span {
        font-weight: 300;
    }
    .message-row-container .message-text {
        padding: 0 15px;
    }
    .message-row-container .message-text .name {
        text-align: center;
    }
    .notice-box .icon {
        padding: 10px;
    }
    .notice-box .card-body {
        text-align: center;
        padding: .7rem .7rem;
    }
    #noticeboard,
    #noticeboard .notice-container {
        height: 578px;
    }
    .padding-left-calendar {
        margin-top: 25px;
    }
    section.banner-design {
        height: 150px;
    }
    section.about-content .about-content-container {
        padding: 30px 0;
    }
    .right-thumbnail {
        float: none;
        width: 80%;
        margin-bottom: 15px;
        margin-left: 10%;
    }
    .affiliation-text {
        padding: 0;
        font-size: 18px;
        line-height: 30px;
    }
    .vission-mission-wrapper .vision-mission-box {
        display: -webkit-grid;
        /* Safari */
        display: grid;
        /* Standard syntax */
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-thumbnail {
        padding-top: 0;
        display: block;
        -webkit-order: 1;
        /* Safari 6.1+ */
        order: 1;
    }
    .vision-mission-box .vision-mission-thumbnail .position-thumb {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }
    .vission-mission-wrapper .vision-mission-box .vision-mission-content {
        display: block;
        padding-left: 0;
        -webkit-order: 2;
        /* Safari 6.1+ */
        order: 2;
        padding-top: 10px;
    }
    .vission-mission-wrapper .vision-mission-box:nth-child(1) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(3) .vision-mission-content,
    .vission-mission-wrapper .vision-mission-box:nth-child(5) .vision-mission-content {
        padding-left: 0;
    }
    .vision-mission-box p {
        font-size: 17px;
    }
    .headings01 h6 {
        text-align: center;
        /* font-size:1.5rem; */
    }
    .headings01 h6 span.next-line-text {
        display: block;
        font-size: 1.4rem;
        margin-top: 7px;
    }
    .msg-right-thumbnail {
        width: 60%;
        margin-left: 20%;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        clear: both;
    }
    section.message .quotes {
        clear: both;
    }
    .contact-form-design.admission-enquiry {
        padding-right: 15px;
    }
    .contact-form-design .submit-btn {
        margin-bottom: 15px;
    }
    .footer .footer-address-pink-box .footer-address-area .headings01 h6 {
        text-align: left !important;
    }
}

@media screen and (max-width:767px) {
    .navigation {
        position: static;
        background-color: var(--color2);
    }
    .navigation.fixed {
        display: none;
    }
}