._1QpIzp {
    width: auto
}

._1QpIzp ._3uHmim {
    padding-bottom: 9px
}

._1QpIzp ._3uHmim .L5gBJv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 23px 14px 14px 29px
}

._1QpIzp ._3uHmim .L5gBJv>span {
    margin-left: 16px;
    text-transform: uppercase;
    color: #878787;
    font-weight: 500
}

._1QpIzp ._3uHmim>ul {
    list-style: none;
    cursor: pointer
}

._1QpIzp ._3uHmim>ul li {
    padding: 16px 16px 16px 72px
}

._1QpIzp ._3uHmim>ul li:hover {
    background-color: #f4f8ff
}

._1QpIzp ._3uHmim>ul li._2Lehiv {
    font-weight: 500;
    color: #2874f0;
    background-color: #f4f8ff
}

._3b2u_i {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden
}

._3b2u_i ._1lAxBa {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 16px
}

._3b2u_i .MyMeJx ._16HS6a {
    padding-top: 10px;
    background: initial
}

._3b2u_i .MyMeJx ._1lAxBa {
    padding: 8px 12px
}

._3b2u_i .MyMeJx ._1lAxBa:first-child {
    padding-left: 24px
}

._3b2u_i .MyMeJx ._2bTsdG {
    color: #2874f0;
    font-weight: 500
}

._3b2u_i ._27g0Xk ._16HS6a {
    padding-top: 0;
    background: #fbfbfb
}

._3b2u_i ._27g0Xk .M86omP {
    background: #fbfbfb;
    display: table
}

._3b2u_i ._27g0Xk ._1lAxBa {
    display: table-cell;
    padding: 12px;
    overflow: hidden;
    position: relative
}

._3b2u_i ._27g0Xk ._1lAxBa:not(:nth-last-child(2)) {
    border-right: 1px solid #f0f0f0
}

._3b2u_i ._27g0Xk ._1lAxBa:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-5px, 5px) rotate(45deg);
    transform: translate(-5px, 5px) rotate(45deg);
    transition: opacity .3s ease-out
}

._3b2u_i ._27g0Xk ._2bTsdG {
    color: #f0f0f0;
    background: #2874f0;
    transition: all .3s ease-out
}

._3b2u_i ._27g0Xk ._2bTsdG:after {
    opacity: 1;
    background: #f1f3f6
}

._3b2u_i ._2y_80Q {
    font-size: 0
}

._3b2u_i ._2y_80Q ._16HS6a {
    position: relative;
    overflow: hidden
}

._3b2u_i ._2y_80Q ._1v7bxX,
._3b2u_i ._2y_80Q ._3R-t0U {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    padding: 18px 12px 20px;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    font-size: 21px
}

._3b2u_i ._2y_80Q ._3R-t0U {
    left: 0
}

._3b2u_i ._2y_80Q ._1v7bxX {
    right: 0
}

._3b2u_i ._2y_80Q .M86omP {
    will-change: transform;
    transition: -webkit-transform .3s cubic-bezier(0, 0, .3, 1);
    transition: transform .3s cubic-bezier(0, 0, .3, 1);
    transition: transform .3s cubic-bezier(0, 0, .3, 1), -webkit-transform .3s cubic-bezier(0, 0, .3, 1)
}

._3b2u_i .opAP9C {
    position: relative;
    height: 3px
}

._3b2u_i .opAP9C .OgYTuL {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: #2874f0;
    will-change: transform;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: -webkit-transform .3s cubic-bezier(0, 0, .3, 1);
    transition: transform .3s cubic-bezier(0, 0, .3, 1);
    transition: transform .3s cubic-bezier(0, 0, .3, 1), -webkit-transform .3s cubic-bezier(0, 0, .3, 1)
}

._3b2u_i ._3fn8Mj {
    border-top: 1px solid hsla(0, 0%, 50.2%, .18)
}

._2ID8iM._2bWBYk {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: transparent
}

._2ID8iM._2bWBYk ._1vFiZd {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 32px !important
}

._2ID8iM._2bWBYk ._1vFiZd._3Pk-31 {
    color: #212121
}

._2ID8iM._2bWBYk ._3iT0at {
    margin-left: 12px
}